* {
    font-family: arial, sans-serif;
    font-size: 13px;
}

::selection {
    color: green;
    background-color: #e1e5eb;
}

body {
    margin: 0;
    background-color: #edeef0;
}

header {
    background-color: #507299;
    height: 40px;
    width: 100%;
    margin: 0;
    padding-left: 15%;
    position: fixed;
    top: 0;
    padding-top: 10px;
    z-index: 1;
}

footer {
    text-align: center;
    clear: both;
    color: #d0d0d0;
    background-color: white;
    width: 100%;
    line-height: 25px;
}

main {
    max-width: 400px;
    margin: auto;
}

.wracked {
    max-width: 800px;
    margin: 60px auto 0 auto;
}

.box {
    width: 350px;
    text-align: justify;
    margin: 15px auto 15px 40px;
    border-radius: 10px;
    background-color: white;
    z-index: -1;
    padding: 15px;
    /* margin-right: 0;*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    border: #d0d0d0 1px solid;
}

.box .line {
    background-color: #d0d0d0;
    height: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.box p {
    margin: 0;
    line-height: 14px;
}

.header {
    width: 350px;
    height: 2px;
    background-color: #d0d0d0;
    margin-left: -15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.box2 {
    width: 120px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: white;
    z-index: -1;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    border: #d0d0d0 1px solid;
}

.box2 p {
    background-color: #edeef0;
    margin: 10px 0;
    width: 100px;
    line-height: 12px;
}

h4 {
    margin: 0;
}

.comment {
    display: flex;
    justify-content: space-between;
}

.comment p {
    margin: 0;
    color: #2e5473;
}

.box img {
    width: 100%;
}

ul {
    list-style-type: none;
    width: 150px;
    margin: 0;
}

a {
    text-decoration: none;
    display: block;
    height: 100%;
    color: #2e5473;
}

li {

    padding: 5px;

}

li:hover {
    background-color: #e1e5eb;

}

@media screen and (min-width: 700px) {

    .left-sidebar {
        float: left;
    }
}

.right-sidebar {
    clear: both;
    position: fixed;
    margin-left: 700px;
}

@media screen and (max-width: 900px) {
    .right-sidebar {
        display: none;
    }
}

@media screen and (max-width: 699px) {

    .left-sidebar {
        width: 350px;
        margin: auto;
        text-align: center;
        float: none;
        display: flex;
    }

    li {
        padding: 8px;
    }

    ul {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    main {
        clear: both;
    }
}
